.preferences-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 110px);
    background-color: #fff;
    padding-top: 110px;
  }
  
  .preferences-container .preferences-content {
    padding-top: 26px;
    width: 80%;
    max-width: 320px;
  }
  
  .preferences-container .menu-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
  }
  
  .preferences-container .menu-icon {
    font-size: 24px;
    margin-right: 26px;
  }
  
  .preferences-container .menu-text h2 {
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 19px;
    font-weight: 600;
    line-height: 29.14px;
    color: #212121;
  }
  
  .preferences-container .menu-text p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #737373;
    font-size: 13.57px;
    line-height: 19.43px;
  }
  